<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script >
     
async function verificar(){
    
let cep = document.getElementById('cep').value
let date = document.getElementById('date').value

let status = {"age":"","cep":"","ageMsg":"","cepMsg":""}
let ifCep = await fetch('/api/cep',
{
    method: "POST", // *GET, POST, PUT, DELETE, etc.
    mode: "cors", // no-cors, *cors, same-origin
    cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
    credentials: "same-origin", // include, *same-origin, omit
    headers: {
      "Content-Type": "application/json",
      // 'Content-Type': 'application/x-www-form-urlencoded',
    },
    redirect: "follow", // manual, *follow, error
    referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
    body: JSON.stringify(cep), // body data type must match "Content-Type" header
  }).then( resposta => {
    return resposta.json()
})
.then ( json => {
    status.cep = json.status
    console.log(json.msg)
    status.cepMsg = json.msg
    return json;
})

let ifAge = await fetch('/api/age',{
    method: "POST", // *GET, POST, PUT, DELETE, etc.
    mode: "cors", // no-cors, *cors, same-origin
    cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
    credentials: "same-origin", // include, *same-origin, omit
    headers: {
      "Content-Type": "application/json",
      // 'Content-Type': 'application/x-www-form-urlencoded',
    },
    redirect: "follow", // manual, *follow, error
    referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
    body: JSON.stringify(date), // body data type must match "Content-Type" header
  }).then( resposta => {
   
    return resposta.json()
})
.then ( json => {
    console.log(json.msg)
    status.age = json.status
    status.ageMsg = json.msg
    return json;
})
console.log(status)
if(status.cep===200 & status.age===200){
    
    document.getElementById("verificar").style.display='none'
    document.getElementById("checkbox").style.display='block'
    document.getElementById("submit").style.display='block'
    document.getElementById("adress").style.display='block'
    document.getElementById('erro').innerHTML = 'Tudo correto, prossiga'
}else{
    document.getElementById("erro").style.backgroundColor='red'
document.getElementById('erro').style.display='block'
if(status.age!==200){
    document.getElementById('erro').innerHTML = status.ageMsg
}
else{
    document.getElementById('erro').innerHTML = status.cepMsg
}

setInterval(() => {
    document.getElementById('erro').style.display='none'
}, 4000);  
}


 }

    </script>
 
</head>
<body>
<div class="ticket">
    
<div class="logo"><img class='photo' src="https://media.istockphoto.com/id/519898108/vector/astronomical-observatory-telescope.jpg?s=612x612&w=0&k=20&c=tKwzqkWqaBYeUoIf3F8ZltUdyMEGFis9kYm1_9EfOR4=" alt=""></div>
<div class="form"> 
    <div id="erro" class="menssage">error</div>
<p class="date"> Domingo 8 de outubro de 2023</p>
<form class="inputs" method="POST" action="/api/users">
<input placeholder="name" required name='name'  id='name'class="name" type="text">
<div class="line"><input class="date" id='date' type="date" name='date'><input id="cep" required name="cep" placeholder="cep" class="cep" type="text"></div>
<input required id='adress' class='adress' name='adress' id="" placeholder="Insira seu endereço" type="text" name="" id="">
<p id='checkbox' class="checkbox"><input required class="" type="checkbox" name="" id=""> Afirmo compreender que o evento irá ocorrer à noite</p>
 
<div class='enviar'><input type="submit" id='submit' class="submit" value='cadastrar' name=""/></div>
</form>
<button class="button" id='verificar' onclick="verificar()">verificar</button>


<p class="date">18h00 GMT – 12h05 às 17h55 BRT</p>
<p>Praça da Liberdade, 700 Belo Horizonte - MG</p>

</div>
<div class="bar"></div>
</div>
</body>
</html>